.container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin: 2% 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 250, 0.9);
}

.recovered {
    border-bottom: 10px solid rgba(0, 250, 0, 0.9);
}

.deaths {
    border-bottom: 10px solid rgba(250, 0, 0, 0.9);
}